@import url('https://use.typekit.net/gmg1rat.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  color: #192223;
  font-family: freight-sans-pro;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    line-height: 1.375;
  }
}

h1.louder {
  font-size: 3em;
  line-height: 0.95;
}

@media (min-width: 43.75em) {
  h1.louder {
    font-size: 3.5em;
    line-height: 0.9;
  }
}

@media (min-width: 56.25em) {
  h1.louder {
    font-size: 4em;
    line-height: 0.9;
  }
}

h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  font-weight: 500;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  font-weight: 500;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

a {
  color: #167b88;
}
